.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.navbar-links a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.navbar-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
}

.navbar-contact a {
  color: #fff;
  background: rgba(0, 119, 182, 0.7);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

.navbar-contact a:hover {
  background: #ff4040;
}

/* Toggle button */
.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

/* Responsive Mode */
@media screen and (max-width: 768px) {
  .navbar-links,
  .navbar-contact {
    display: none;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    padding: 1rem 0;
    gap: 1rem;
    align-items: center;
  }

  .navbar-contact {
    display: none;
  }

  .navbar-links.active + .navbar-contact {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
}
